/* Balises */

body
	{
	background : white !important;
	}

/* Logo */

#logo
	{
	a
		{
		color : $grey !important;
		text-decoration : none;
		&:hover, &:active
			{
			text-decoration : none;
			}
		}
	img
		{
		width : 40px;
		height : 40px;
		margin-right : 10px;
		}
	}
